*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color:#fff;
}

 img{
    height: 300px;
    width: 300px; 
 }

 .firstimg{
    height: 300px;
    width: 300px;
    border-radius: 34px;
   
 }
.secondimg{
    height: 400px;
    width: 300px;
    border-radius: 30px;
}

.thirdimg{
    height: 250px;
    width: 600px;
    border-radius: 30px;
    row-gap: 50px;
}

nav{
    padding: 20px;
    height: 15vh;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 5%;
    font-weight: 600;
}

nav ul li img{
    width: 100px;
    height: 100px;
    margin: 15%;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    height: 85%;
}

.leftmain{
    width: 40%;
}
.leftmain h1{
    font-size: 60px;
}
.leftmain p{
    margin: 5% 0;
}

.leftmain button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color:green;
    border-radius: 15px;
    
}

.rightmain{
    width: 60%;
    padding-left: 7%;
}

/* .rightmain img{
    width: 30%;

} */